@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://code.getmdl.io/1.3.0/material.indigo-blue.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    font-family: "Roboto";
  }
  
  #loginform {
    margin-bottom: 0px;
    padding: 0px;
  }

  .center {
    justify-content: center;
    justify-items: center;
    justify-self: center;
    margin:auto;
    vertical-align: middle;
  }

  .mdl-grid{
    width:100%;
    height:100%;
  }

  .logo {
    max-height: inherit;
    max-width: 100%;
    align-content: center;
  }

  .floatright {
    float: right;
  }