@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://code.getmdl.io/1.3.0/material.indigo-blue.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    font-family: "Roboto";
}

.section-heading {
	padding-left: 20px;
}

.mdl-data-table {
	margin-top: 25px;
	margin-left: 25px;
}

.mdl-layout__drawer-button {
	padding-top: 12px;
}

.logo {
    max-height: inherit;
    max-width: 100%;
	align-content: center;
	padding-top: 12px;
	padding-right: 40px;
  }